extends layout
block content
    //- a(class="return-btn" href="javascript:history.back()") return 

    ul(class="url-container")
        for item in list   
            a(href=item.src+"/tap-1/hls")=item.src