extends layout

block content
  div(class="main-wrapper")
     br
    
     br
     form(action='/search' method="GET")
   
      input(class="input-text" type="text", name="search", placeholder="type movie name")
      
      input(type="submit", value="Search!")
     h2(class="color-text") Recents
     div(class='item-container' id='recent-list')
     h2(class="color-text") Latest
     div(class='item-container' id='trending')
    
           
            
  script
      include ./dist/js/main.js

           
           
