extends layout

block content
  div(class="main-wrapper")
    h1 Search for movies
    form(action='/search' method="GET")
   
     input(class="input-text" type="text", name="search", placeholder="type movie name")
      
     input(type="submit", value="Search!")
     h2 Recents
     div(class='item-container' id='recent-list')
          
           
            
    script
      include ./dist/js/main.js

           
           
