<nav class="navbar navbar-expand-md navbar-dark bg-danger">
    <a class="navbar-brand brand-text  nav-item p-2" href="/" >Happy New Year</a>
    <div class="pyro">
        <div class="before"></div>
        <div class="after"></div>
      </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex flex-row ">
           

        
            <li class="nav-item btn d-inline mr-1">
                <a class="nav-link text-white"  href="/the-loai/phim-le?page=1">Phim lẻ</a>
            </li>
            <li class="nav-item btn d-inline">
                <a class="nav-link text-white" href="/phimbo?page=1">Phim Bộ</a>
            </li>
            
        </ul>
        <form class="form-inline my-2 my-lg-0 ml-auto d-flex justify-content-center flex-row flex-nowrap" method="GET" action='/search'>
            <input class="form-control mr-sm-2 text-center" type="search" placeholder="movie name!" aria-label="Search" name="search">
            <button class="btn my-2 my-sm-0" type="submit">Go!</button>
        </form>
    </div>
    
</nav>
<br/>