<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">Moveek</a>
    
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex flex-row ">
           

        
            <li class="nav-item btn d-inline mr-1">
                <a class="nav-link text-white"  href="/phimle?page=1">Phim lẻ</a>
            </li>
            <li class="nav-item btn d-inline">
                <a class="nav-link text-white" href="/phimbo?page=1">Phim Bộ</a>
            </li>
            
        </ul>
        <form class="form-inline my-2 my-lg-0 ml-auto d-flex justify-content-center" method="GET" action='/search'>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>