extends layout
block content
    //- div(class='container d-flex justify-content-center' id="light-off")
    //-     button dark
    -var temp=ok    
    div(class='container') !{temp}
    div(class="player-select")
        h4(class='color-text') choose server
        for item in player
           button(id=item.player class='btn' onclick=`goto1("`+item.player+`")`)=item.player
    div(class="eps-select")
       if(eps.length>0) 
        h4(class='color-text') choose episode
        for item in eps

              button(onclick=`goto("`+item.episode+`");` class=(playing==item.episode?'btn active-link':'btn') )=item.episode
    script
        include ./dist/js/player.js