extends layout
block content
    //- a(class="return-btn" href="javascript:history.back()") return 
    -var temp=ok    
    div(class='container') !{temp}
    div(class="player-select")
        h4 choose server
        for item in player
           button(id=item.player class='btn' onclick=`goto1("`+item.player+`")`)=item.player
    div(class="eps-select")
       if(eps.length>0) 
        h4 choose episode
        for item in eps

              button(onclick=`goto("`+item.episode+`");` class=(playing==item.episode?'btn btn-primary':'btn') )=item.episode
    script
        include ./dist/js/player.js