extends layout
block content
    a(class="return-btn" href="javascript:history.back()") return 
    div(class="item-container")
        -var x=array
        for item in x
            a(class="wrapper" href=(""+item.href))
                img(title=item.title src=("https://subnhanh.net"+item.image))
                p(class="item")=item.title

