html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  padding: 0;
  background-position: center;
}

#main-player {
  height: 60vh;
  width: 80vw;
  max-width: 1200px;
  margin: 5vh auto;
  max-height: 800px;
}

@media only screen and (max-width: 1000px) {
  #main-player {
    height: 50vh;
    width: 90vw;
    max-height: 400px;
  }
}

#main-player iframe {
  height: 100%;
}

.main-wrapper {
  max-width: 968px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.main-wrapper h1 {
  font-size: 50px;
}

.main-wrapper form input, .main-wrapper form select {
  height: 40px;
  margin-right: 5px;
  border-radius: 3px;
  border: none;
  background-color: whitesmoke;
  text-align: center;
  width: 10%;
  min-width: 100px;
}

.main-wrapper form .input-text {
  width: 50%;
}

.item-container {
  width: 90%;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 1000px) {
  .item-container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 700px) {
  .item-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 450px) {
  .item-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  color: black;
  min-height: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  text-decoration: none;
}

.wrapper:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.wrapper img {
  width: 100%;
  height: auto;
}

.wrapper .item {
  font-family: 'Roboto', sans-serif;
}

#recent-list .wrapper {
  background-color: whitesmoke;
  color: black;
  font-size: .8rem;
  min-height: 200px;
}

.video-container {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  height: 98vh;
}

.video-container .video {
  width: 100%;
  height: 100%;
  min-height: 600px;
}

.return-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 30px;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  background-color: whitesmoke;
  border: none;
  border-radius: 3px;
}

.url-container {
  margin-top: 5vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player-select {
  margin: 0 auto;
  text-align: center;
}

.eps-select {
  margin-top: 5vh;
  margin: 0 auto;
  text-align: center;
}

button {
  border: none;
  background-color: whitesmoke;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

button:hover {
  background-color: yellow;
}
/*# sourceMappingURL=style.css.map */