html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  padding: 0;
  background-position: center;
}

body {
  background-position: center;
  overflow-x: hidden;
}

.color-text {
  color: white !important;
}

.brand-text {
  font-family: 'Dancing Script', cursive;
  font-size: 1.6rem;
}

.btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#c73f3f), color-stop(51%, #d6ac3a), to(#cc5858));
  background-image: linear-gradient(to right, #c73f3f 0%, #d6ac3a 51%, #cc5858 100%);
}

.btn {
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  -webkit-box-shadow: 0 0 2px #eee;
          box-shadow: 0 0 2px #eee;
  border-radius: 2px;
  display: inline-block;
}

.btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#wallpaper-blur {
  position: fixed;
  background-image: url("https://i.pinimg.com/originals/b6/3b/28/b63b28d3882785b025da7a972c0b74eb.jpg");
  width: 100%;
  height: 100%;
  top: 0;
  background-size: cover;
  background-position: center;
  z-index: -333;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

a {
  text-decoration: none !important;
}

.active-link {
  background-image: -webkit-gradient(linear, left top, right top, from(#DA22FF), color-stop(51%, #9733EE), to(#DA22FF));
  background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
}

.active-link {
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee;
  border-radius: 2px;
  display: inline-block;
}

.active-link:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#main-player iframe {
  min-height: 60vh;
  max-height: 900px;
}

@media only screen and (max-width: 768px) {
  #main-player iframe {
    min-height: 40vh;
    max-height: 300px;
  }
}

.main-wrapper {
  background-color: transparent;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.main-wrapper h1 {
  font-size: 50px;
}

.main-wrapper form input,
.main-wrapper form select {
  height: 40px;
  margin-right: 5px;
  border-radius: 3px;
  border: none;
  background-color: whitesmoke;
  text-align: center;
  width: 10%;
  min-width: 100px;
}

.main-wrapper form .input-text {
  width: 50%;
}

.container-fluid {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.item-container {
  -webkit-transition: .1s all;
  transition: .1s all;
  width: 70%;
  display: -ms-grid;
  display: grid;
  margin: 20px auto;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 1500px) {
  .item-container {
    width: 90%;
  }
}

@media only screen and (max-width: 975px) {
  .item-container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 700px) {
  .item-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 470px) {
  .item-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header li {
  list-style-type: none;
  margin-right: 5px;
}

.wrapper {
  -webkit-transition: .1s linear;
  transition: .1s linear;
  color: black;
  background-color: whitesmoke;
  min-height: 370px;
  border-radius: 2px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  text-decoration: none;
}

@media only screen and (max-width: 470px) {
  .wrapper {
    min-height: 325px;
  }
}

@media only screen and (min-width: 1000px) {
  .wrapper:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 1 !important;
  }
}

.wrapper .container-fluid {
  height: 100%;
}

.wrapper .container-fluid .img-ctn {
  height: 80%;
  -webkit-transition: all 30s;
  transition: all 30s;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper .container-fluid p {
  padding: 5% 0;
  margin: auto;
}

@media only screen and (min-width: 1000px) {
  .wrapper:hover {
    -webkit-transform: translateY(-5%) scale(1.1);
            transform: translateY(-5%) scale(1.1);
  }
}

.video-container {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  height: 98vh;
}

.video-container .video {
  width: 100%;
  height: 100%;
  min-height: 600px;
}

.return-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 30px;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  background-color: whitesmoke;
  border: none;
  border-radius: 3px;
}

.url-container {
  margin-top: 5vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player-select {
  margin: 0 auto;
  text-align: center;
}

.eps-select {
  margin-top: 5vh;
  margin: 0 auto;
  text-align: center;
}

button {
  margin: 5px;
}

.mt-0 {
  margin-top: 15px;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
}

.pyro {
  width: 100px;
  height: 50px;
  z-index: 50;
  position: absolute;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pyro > .before, .pyro > .after {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: 194px -107.33333px #ffae00, 77px -295.33333px #ff0091, 79px 49.66667px #48ff00, -61px -104.33333px #4800ff, 123px 16.66667px #0055ff, -59px -216.33333px #dd00ff, -69px -65.33333px #00ff1a, -82px -272.33333px #b300ff, 186px -280.33333px #ff0055, -128px -277.33333px #009dff, 84px 50.66667px #00aaff, 17px -80.33333px #b7ff00, -15px -129.33333px #ff0091, -71px -70.33333px #6f00ff, 175px 66.66667px darkorange, 71px -238.33333px #88ff00, 16px -300.33333px #00ff3c, -121px -251.33333px #ff00e1, -167px -231.33333px #00bbff, -17px -251.33333px #ff9d00, 94px -177.33333px #4400ff, -66px 25.66667px #aaff00, -112px -118.33333px #00ddff, 192px 23.66667px #00ffee, -104px 56.66667px #00f2ff, -36px -222.33333px #ff0077, 110px -281.33333px #ff00c4, 181px -38.33333px #ffa200, 159px -122.33333px #ff0022, 91px -178.33333px #ff001e, 34px -133.33333px #b7ff00, 160px -142.33333px #ff0073, 96px -202.33333px #00ff11, -84px -118.33333px #0009ff, 164px -160.33333px #5eff00, 72px 14.66667px #2bff00, -107px -3.33333px #d000ff, 23px 13.66667px darkorange, -5px -311.33333px #ff004d, -129px 43.66667px #ff0037, -29px -213.33333px #ff9500, 14px -2.33333px #59ff00, 192px -315.33333px #0400ff, -144px -227.33333px #66ff00, 137px -244.33333px #8cff00, 52px -107.33333px #0900ff, -47px -5.33333px #c4ff00, -131px 62.66667px #ff2f00, -6px -99.33333px #ff7300, 139px -137.33333px #ff0073, 13px -25.33333px #0073ff;
            box-shadow: 194px -107.33333px #ffae00, 77px -295.33333px #ff0091, 79px 49.66667px #48ff00, -61px -104.33333px #4800ff, 123px 16.66667px #0055ff, -59px -216.33333px #dd00ff, -69px -65.33333px #00ff1a, -82px -272.33333px #b300ff, 186px -280.33333px #ff0055, -128px -277.33333px #009dff, 84px 50.66667px #00aaff, 17px -80.33333px #b7ff00, -15px -129.33333px #ff0091, -71px -70.33333px #6f00ff, 175px 66.66667px darkorange, 71px -238.33333px #88ff00, 16px -300.33333px #00ff3c, -121px -251.33333px #ff00e1, -167px -231.33333px #00bbff, -17px -251.33333px #ff9d00, 94px -177.33333px #4400ff, -66px 25.66667px #aaff00, -112px -118.33333px #00ddff, 192px 23.66667px #00ffee, -104px 56.66667px #00f2ff, -36px -222.33333px #ff0077, 110px -281.33333px #ff00c4, 181px -38.33333px #ffa200, 159px -122.33333px #ff0022, 91px -178.33333px #ff001e, 34px -133.33333px #b7ff00, 160px -142.33333px #ff0073, 96px -202.33333px #00ff11, -84px -118.33333px #0009ff, 164px -160.33333px #5eff00, 72px 14.66667px #2bff00, -107px -3.33333px #d000ff, 23px 13.66667px darkorange, -5px -311.33333px #ff004d, -129px 43.66667px #ff0037, -29px -213.33333px #ff9500, 14px -2.33333px #59ff00, 192px -315.33333px #0400ff, -144px -227.33333px #66ff00, 137px -244.33333px #8cff00, 52px -107.33333px #0900ff, -47px -5.33333px #c4ff00, -131px 62.66667px #ff2f00, -6px -99.33333px #ff7300, 139px -137.33333px #ff0073, 13px -25.33333px #0073ff;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: 194px -107.33333px #ffae00, 77px -295.33333px #ff0091, 79px 49.66667px #48ff00, -61px -104.33333px #4800ff, 123px 16.66667px #0055ff, -59px -216.33333px #dd00ff, -69px -65.33333px #00ff1a, -82px -272.33333px #b300ff, 186px -280.33333px #ff0055, -128px -277.33333px #009dff, 84px 50.66667px #00aaff, 17px -80.33333px #b7ff00, -15px -129.33333px #ff0091, -71px -70.33333px #6f00ff, 175px 66.66667px darkorange, 71px -238.33333px #88ff00, 16px -300.33333px #00ff3c, -121px -251.33333px #ff00e1, -167px -231.33333px #00bbff, -17px -251.33333px #ff9d00, 94px -177.33333px #4400ff, -66px 25.66667px #aaff00, -112px -118.33333px #00ddff, 192px 23.66667px #00ffee, -104px 56.66667px #00f2ff, -36px -222.33333px #ff0077, 110px -281.33333px #ff00c4, 181px -38.33333px #ffa200, 159px -122.33333px #ff0022, 91px -178.33333px #ff001e, 34px -133.33333px #b7ff00, 160px -142.33333px #ff0073, 96px -202.33333px #00ff11, -84px -118.33333px #0009ff, 164px -160.33333px #5eff00, 72px 14.66667px #2bff00, -107px -3.33333px #d000ff, 23px 13.66667px darkorange, -5px -311.33333px #ff004d, -129px 43.66667px #ff0037, -29px -213.33333px #ff9500, 14px -2.33333px #59ff00, 192px -315.33333px #0400ff, -144px -227.33333px #66ff00, 137px -244.33333px #8cff00, 52px -107.33333px #0900ff, -47px -5.33333px #c4ff00, -131px 62.66667px #ff2f00, -6px -99.33333px #ff7300, 139px -137.33333px #ff0073, 13px -25.33333px #0073ff;
            box-shadow: 194px -107.33333px #ffae00, 77px -295.33333px #ff0091, 79px 49.66667px #48ff00, -61px -104.33333px #4800ff, 123px 16.66667px #0055ff, -59px -216.33333px #dd00ff, -69px -65.33333px #00ff1a, -82px -272.33333px #b300ff, 186px -280.33333px #ff0055, -128px -277.33333px #009dff, 84px 50.66667px #00aaff, 17px -80.33333px #b7ff00, -15px -129.33333px #ff0091, -71px -70.33333px #6f00ff, 175px 66.66667px darkorange, 71px -238.33333px #88ff00, 16px -300.33333px #00ff3c, -121px -251.33333px #ff00e1, -167px -231.33333px #00bbff, -17px -251.33333px #ff9d00, 94px -177.33333px #4400ff, -66px 25.66667px #aaff00, -112px -118.33333px #00ddff, 192px 23.66667px #00ffee, -104px 56.66667px #00f2ff, -36px -222.33333px #ff0077, 110px -281.33333px #ff00c4, 181px -38.33333px #ffa200, 159px -122.33333px #ff0022, 91px -178.33333px #ff001e, 34px -133.33333px #b7ff00, 160px -142.33333px #ff0073, 96px -202.33333px #00ff11, -84px -118.33333px #0009ff, 164px -160.33333px #5eff00, 72px 14.66667px #2bff00, -107px -3.33333px #d000ff, 23px 13.66667px darkorange, -5px -311.33333px #ff004d, -129px 43.66667px #ff0037, -29px -213.33333px #ff9500, 14px -2.33333px #59ff00, 192px -315.33333px #0400ff, -144px -227.33333px #66ff00, 137px -244.33333px #8cff00, 52px -107.33333px #0900ff, -47px -5.33333px #c4ff00, -131px 62.66667px #ff2f00, -6px -99.33333px #ff7300, 139px -137.33333px #ff0073, 13px -25.33333px #0073ff;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
/*# sourceMappingURL=style.css.map */